@font-face {
    font-family: 'Karla-Regular';
    src: url('../fonts/static/Karla-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Karla-Bold';
    src: url('../fonts/static/Karla-Bold.ttf') format('truetype');
}

body {
    font-family: 'Karla-Regular';
    margin: 50px;
    background-color: hsl(144.71,37.78%,91.18%)  ;
}

form {
    width: 550px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

h2 {
    text-align: left;
    margin-bottom: 20px;
    margin-top: 0;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-row > div {
    width: 48%;
}

.form-row label {
    display: block;
    margin-bottom: 5px;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.checkbox-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.checkbox-button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f8f8f8;
    position: relative;
    box-sizing: border-box;
    transition: background-color 0.3s;
}

.checkbox-button:last-child {
    margin-right: 0;
}

.checkbox-button input {
    display: none;
}

.checkbox-button .checkbox-mark {
    display: none;
    position: absolute;
    left: 10px;
    font-size: 1.2em;
    color: hsl(169, 82%, 27%);
}

.checkbox-button input:checked + .checkbox-mark {
    display: block;
}

.checkbox-button input:checked + .checkbox-mark + label {
    background-color: hsl(169, 82%, 27%);
    color: white;
}

.checkbox-button input:checked + .checkbox-mark + span {
    background-color: hsl(169, 82%, 27%);
    color: white;
}

.consent {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.consent input {
    width: auto;
    margin-right: 5px;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: hsl(169, 82%, 27%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    background-color: hsl(169, 82%, 17%);
}

.error {
    color: red;
    font-size: 0.875em;
    display: none;
}
